{% extends "notifications/email/base.html" %}

{% block body %}

<h1>{{ title }}</h1>
<br>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Rank</th>
            <th>School</th>
            <th>Record</th>
            <th>Previous</th>
        </tr>
    </thead>
    <tbody>
        {% for ranking in rankings %}
        {% set team = ranking.team.get() %}
        <tr>
            <td>{{ ranking.rank }}</td>
            <td>{{ team.name }}</td>
            <td>{{ ranking.record }}</td>
            <td>{{ ranking.previous }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}