{% extends "base.html" %}

{% block style_block %}

<style>
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 350px;
}

body {
    background-color: #202d3b;
}

.popover{
    width:250px;   
}

</style>

{% endblock %}

{% block no_nav_content %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="outer">
    <div class="middle">
        <div class="inner well">

            <div style="text-align: center; margin-bottom: 30px;">

                <h3>Sign up for PollAlerts</h3>

            </div>

            <a href="{{ url_for('google_login') }}" class="btn btn-block btn-primary">Register with Google</a>

            <hr>

            <div style="text-align: center;">

                <i>Or</i>

            </div>

            <hr>

            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="register-email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="register-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button id="submit" type="button" class="btn btn-block btn-primary">Register</button>
                    </div>
                </div>
            </form>

            <div style="text-align: center;">
                <a href="{{ url_for('login') }}">or login</a>
            </div>

        </div>
    </div>
</div>


{% endblock no_nav_content %}


{% block tail_script %}

<script type="text/javascript">
    
    $(document).ready(function(){

        var email = $('#register-email');
        var pass = $("#register-password");
        var conf = $("#confirm-password");
        var csrf = $('#csrf_token');

        var csrftoken = $('meta[name=csrf-token]').attr('content')

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })

        function confirm_password() {
            if (!(pass.val() == conf.val())) {

                conf.popover({
                    trigger: 'manual',
                    content: 'Your passwords don\'t match.',
                    title: 'Whoops.'
                });

                conf.popover('show');
                setTimeout(function() {
                    conf.popover('hide');
                }, 3000);
            }
        }

        function register() {
            if (!conf_visible) {
                confirm_password();
            }

            $.ajax({
                "url": "{{ url_for('register') }}",
                "method": "POST",
                "data": {
                    email: email.val(),
                    password: pass.val(),
                    confirm_password: conf.val()
                }
            })
            .done(function(data) {
                var response = $.parseJSON(data);

                if (response.authorized) {
                    window.location.replace("{{ url_for('settings') }}")
                } else {
                    if (response.error_message) {

                        if (response.error_message == 'current_user') {

                            email.popover({
                                html: true,
                                trigger: 'manual',
                                content: 'An account has already been registered with that email.<br><br><a href="{{ url_for('login') }}">Login</a>',
                                title: 'Whoops.'
                            });

                            email.popover('show');

                            setTimeout(function() {
                                email.popover('hide');
                            }, 5000);
                        }

                        if (response.error_message == 'invalid_email') {

                            email.popover({
                                html: true,
                                trigger: 'manual',
                                content: 'You must enter a valid email address.',
                                title: 'Whoops.'
                            });

                            email.popover('show');
                            setTimeout(function() {
                                email.popover('hide');
                            }, 5000);

                        }

                        if (response.error_message == 'password_length') {

                            pass.popover({
                                html: true,
                                trigger: 'manual',
                                content: 'You password must be at least 5 characters long.',
                                title: 'Whoops.'
                            });

                            pass.popover('show');
                            setTimeout(function() {
                                pass.popover('hide');
                            }, 5000);
                        }
                    }   
                }
            });
        };

        pass.keypress(function(e) {
            if (e && e.which == 13) {
                register();
            }
        })

        $("#submit").click(function() {
            register();
        });

        $("#password_confirm").blur(function() {
            confirm_password();
        });
    });

</script>

{% endblock %}





