{% extends "base.html" %}

{% block style_block %}
    
{% endblock %}

{% block content %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Poll</th>
            <th>Gender</th>
            <th>Sport</th>
            <th>Link</th>
            <th>Alerts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AP</td>
            <td>Men</td>
            <td>Basketball</td>
            <td><a href="{{ url_for('ap-basketball-men') }}">Poll</a></td>
            <td><input type="checkbox"></td>
        </tr>
    </tbody>
</table>


{% endblock content %}