{% extends "base.html" %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-6">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">User Info</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Alert Settings</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="grow">Poll</th>
                            <th>Gender</th>
                            <th>Sport</th>
                            <th>Link</th>
                            <th>Alerts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AP Poll</td>
                            <td>Men</td>
                            <td>Basketball</td>
                            <td><a href="{{ url_for('ap-basketball-men') }}" class="btn btn-xs btn-success">Go To Poll</a></td>
                            <td><input id="ap-basketball-men-email" type="checkbox" {% if ap_basketball_men_email %}checked{% endif %}></td>
                        </tr>
                        <tr>
                            <td>USA Today Coaches Poll</td>
                            <td>Men</td>
                            <td>Basketball</td>
                            <td><a href="{{ url_for('coaches-basketball-men') }}" class="btn btn-xs btn-success">Go To Poll</a></td>
                            <td><input id="coaches-basketball-men-email" type="checkbox" {% if coaches_basketball_men_email %}checked{% endif %}></td>
                        </tr>
                    </tbody>
                </table>

                <button id="submit-alerts" class="btn btn-success pull-right">Save Alerts</button>
            </div>
        </div>

        <div id="alert-success" class="alert alert-success" style="display: none;">
          <strong>Success!</strong> Your alerts settings were saved successfully.
        </div>
        
    </div>

</div>

{% endblock content %}

{% block tail_script %}

<script type="text/javascript">

    $(document).ready(function(){

        var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })

        function submit_alerts() {

            $.ajax({
                "url": "{{ url_for('settings') }}",
                "method": "POST",
                "data": {
                    ap_basketball_men_email: $('#ap-basketball-men-email').prop('checked'),
                    ap_basketball_women_email: $('#ap-basketball-women-email').prop('checked'),
                    coaches_basketball_men_email: $('#coaches-basketball-men-email').prop('checked')
                },
            })
            .done(function(data) {
                var response = $.parseJSON(data);

                $("#alert-success").show();
                window.setTimeout(function() { $(".alert-success").hide(); }, 3000);
            });
        }

        $("#submit-alerts").click(function() {
            submit_alerts();
        });
    });


</script>

{% endblock %}